.project_cont {
    padding-top: 10%;
    /* background-color: #41436A;
     */
    /* background: url("./skills.png") no-repeat center center/cover; */
}

.project_des>h1 {
    color: #41436A;
    font-family: 'Lobster', cursive;
}

.project_cont>h1 {
    text-align: center;
    margin-bottom: 2em;
}

.project_box {
    width: 90%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 41%);
    grid-row-gap: 6em;
    padding-bottom: 5em;
    padding-top: 5em;
    border: 2px solid;
    justify-items: center;
    justify-content: center;
    align-items: start;
    margin: auto;
    border-radius: 22px;
    margin-bottom: 4em;
    background-color: #eaebed;
}

.project_des {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.project_des>p {
    font-family: 'Rajdhani', sans-serif;
}

.project_des>button {
    border: 1px solid;
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    width: fit-content;
    transition: all 0.3s;
    cursor: pointer;
}

.project_des>button>a {
    text-decoration: none;
    color: black;
}

.project_des>button:hover {
    background-color: black;
}

.project_des>button:hover>a {
    color: white;
}

.project_img {
    width: 29vw;
    position: relative;
    height: 15vw;
}

.project_img>img {
    width: 100%;
    position: absolute;
    z-index: 3;
    box-shadow: 2px 2px 10px black;
    border-radius: 20px;
}

.project_img>img:nth-child(1) {
    top: -17px;
    left: -17px;
}

.project_img>img:nth-child(2) {
    top: 17px;
    left: 17px;
    z-index: 2;
}

.project_img>img:hover {
    transform: scale(1.1);
    transition: all 0.3s;
    cursor: pointer;
}

.project_img>img:nth-child(2):hover {
    z-index: 3;
}

@media (max-width:1000px) {
    .project_des>h1 {
        text-align: center;
    }
    .project_box {
        grid-template-columns: repeat(1, 75%);
        padding-bottom: 9em;
    }
    .project_img {
        width: 100%;
        height: 19vw;
    }
    .project_img>img {
        border-radius: 5px
    }
    .project_img>img:nth-child(2) {
        display: none;
    }
}