.skill_cont {
    padding-top: 10%;
    /* background-color: #41436A; */
    background-color: #342626;
    /* background: url("./skills.png") no-repeat center center/cover; */
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 6em;
    justify-items: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 9em;
}

.skill_box {
    width: 82vw;
    height: 10em;
    border-radius: 20px;
    position: relative;
    box-shadow: -17px 20px 10px 15px;
}

.skill_img {
    width: 100%;
    height: 100%;
    background-color: #EAEBED;
    position: relative;
    z-index: 1;
    border-radius: 20px;
    overflow: hidden;
}

.skill_img>img {
    width: 100%;
    height: 100%;
}

.skill_des {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    overflow: hidden;
    animation: fadeOut 0.5s forwards;
    padding: 1em;
    color: white;
}

.skill_des>p {
    color: white;
    font-family: 'Rajdhani', sans-serif;
}

.skill_des>h1 {
    font-family: 'Lobster', cursive;
}

.skill_des>button {
    background-color: white;
    color: black;
    border-radius: 5px;
    border: none;
    padding: 10px;
    float: right;
    position: relative;
    bottom: 0;
    margin: 5px;
    cursor: pointer;
    z-index: 10;
}

.skill_box:hover .skill_des {
    animation: fadeIn 1s forwards;
    z-index: 2;
    
}
.skill_box:hover{
    box-shadow: -17px 20px 10px 0px;
}

.skill_box:hover .skill_shadow {
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    z-index: 1;
    opacity: 0.7;
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
        height: 0%;
    }
    100% {
        opacity: 100%;
        height: 100%;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

/* @media (max-width:1200px) {
    .skill_cont {
        grid-template-columns: repeat(3, 30%);
    }
}

@media (max-width:900px) {
    .skill_cont {
        grid-template-columns: repeat(2, 50%);
    }
}
*/
@media (max-width:650px) {
    .skill_cont {
        grid-template-columns: repeat(1, 100%);
    }
    .skill_box:nth-child(5){
        height: 20em;
    }
    .skill_box{
        min-height: 15em;
        box-shadow: -17px 20px 10px 0px;
    }
    .skill_box .skill_des {
        animation: fadeIn 1s forwards;
        z-index: 2;
    }
    .skill_box .skill_shadow {
        width: 100%;
        height: 100%;
        background: black;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 20px;
        z-index: 1;
        opacity: 0.7;
    }
} 

.skill_box>h2 {
    color: white;
    text-align: center;
    transition: transform 1s;
    font-family: 'Lobster', cursive;
}

.skill_box:hover h2 {
    transform: translateY(-100%);
}

.skill_box:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}